<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Customer\Controller\Account\CreatePost">
        <plugin name="ajax_customer_register" type="TrainingBansi\LoginPopup\Plugin\AjaxRegister" />
    </type>
    <preference for="Magento\Customer\Block\Account\RegisterLink"
                type="TrainingBansi\LoginPopup\Block\Account\RegisterLink" />
</config>
